/** Eksamensprojektet 1. Semester - Amo Hvedemel **/


/*Google fonts som noget af det første*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*
/*css reset*/
* {
margin: 0;
padding: 0;
}
/* Variabler*/
:root {
  /* farver */
--offwhite: #f7f7ea;
--red: #bb615c;
--beige: #dcba83;
--grey: #d2d0cc;

/* fonte */
--overskrift1: 'Abril Fatface', cursive;
--tekst: "Avenir Next", sans-serif !important;

/* teksturer ("Kornbaggrund") */
--korn: url('../billeder/korn.png');


}

/*Regler*/
p{
  font-family: var(--tekst);
}
/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--offwhite);
}

/* Wrap */
#wrap {
  min-height: 100vh;
  margin: 0;
}

/* MENUBAR */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  width: 100%;
  color: black;
  height: 35vh;
}

/*Header landingpage - mobil*/
.nav__top{
    background-image: url(../billeder/header-mobil.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 40vh;
  }
/*Header landingpage - computer*/
.nav__top_com {
    background-image: url(../billeder/header.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 110vh;
  }

/* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
  color: black;
  padding-bottom: 16px;
  font-family: monospace;
  font-size: 220%;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--beige);
  min-width: 160px;
  z-index: 1;
  margin-top: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--tekst);
  font-size: 130%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--beige);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropbtn:hover {
  color: black;
  cursor: pointer;
}

/* BURGERMENU */
 nav a {
  color: black;
  text-decoration: none;
}


/* MENUBAR */
#navigationburger {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    color: black;
}

/* Menupunkter*/
.menupunkt {
  font-family: monospace;
  font-size: 3em;
  line-height: 2;
}

.menu-content {
  text-align: center;
  font-family: var(--tekst);
  font-size: 1.5em;
}

/*Baggrundsdesign*/
#bodymenu {
  background-image: var(--korn);
}

/*Landingpage*/

.kampagne{
  z-index: -1;
}

.kampagne img {
  width:100%;
}

/*Tekst om emballage*/
#emballage {
  background-image: var(--korn);
  font-family: var(--overskrift1);
  text-align: center;
  line-height: 2;
}

#emballage h1 {
  padding-bottom: 5px;
}

.mereinfo {
  color: black;
  font-family: var(--tekst);
}
/*landingpage footer*/

.footfoto{
  background-image: url(../billeder/footer.png);
  height: 150vh;
  margin-top: -35%;
  background-repeat: no-repeat;
  width:100%;
}

/*Footerflex*/
#footerinfo {
  display: inline-flex;
  width:100%;
}

#footerinfo h2{
  font-family: var(--tekst);
  font-weight: 400;
  margin-top: 145%;
}

.kontakt {
  flex:33%
}

.some {
  flex:33%
}

.nyhedsbrev {
  flex:33%
}

/*Nyhedsbrev - https://www.w3schools.com/howto/howto_css_newsletter.asp*/

/* Add some padding and a grey background color to containers */
.container {
  padding: 10px;
  background-color: transparent;
  color: black;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 94%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
  margin-left: 10%;
}

/* Style the submit button */
input[type=submit] {
  background-color: var(--beige);
  color: var(--offwhite);
  font-size: 1.2em;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/*Underside - bananbrød*/

/*Baggrundstekstur*/
.baggrundbanan img {
width: 100%;
height: 800px;
padding-top:30%;
position: relative;
z-index: 5;
opacity: 60%;
}

.bananoverskrift h1 {
  color: black;
  font-size: 2.5em;
  position: relative;
  margin-top: -830px;
  z-index: 100;
  text-align: center;
  font-family: monospace;
  font-weight: 500;
}

/* introflexbox */
.bananintro{
  display: inline-flex;
  width:100%;
}

.introtekst {
  flex:50%;
  margin: 10px;
}
.introtekst p {
  font-size: 1.2em;
text-align: center;
}

.introfoto {
  flex:50%;
  margin: 10px;
}
.introfoto img {
  width: 70%;
  padding-left: 15%;
  opacity: 100%;
}

/*Ingrediensbox*/
#ingrediensbox {
  background-color: var(--beige);
  width: 70%;
  margin:100px;
  padding: 20px;

}
#ingrediensbox h2 {
  font-family: monospace;
  text-align: center;
}

#ingrediensbox ol{
  font-family: var(--tekst);
  line-height: 2;
  padding: 15px;
}

/*Ingrediensflex*/
.bananingrediens {
  display: inline-flex;
  width:100%;
  padding-bottom: 10%;
}

.ingrediensværdi {
  flex: 20%;
  padding-left: 20%;
}

.ingrediensenhed {
  flex:80%;
}

/*Underside - Om os*/

#om_os {
  background-image: var(--korn);
}

#om_os h1, #bbb h1 {
  color: black;
  font-size: 3em;
  position: relative;
  z-index: 100;
  text-align: center;
  font-family: monospace;
  font-weight: 500;
  padding-bottom: 10%;
}

/* Om Amo flexbox */
.om_amo{
  display: inline-flex;
  width:100%;
}

.omtekst {
  flex:50%;
  margin: 10px;
}
.omtekst p {
  font-size: 1.2em;
text-align: center;
}

.omtekst2 p {
  text-align: center;
}

.omfoto {
  flex:50%;
  margin: 10px;
}
.omfoto img {
  width: 70%;
  padding-left: 15%;
  opacity: 100%;
}
/*Tekst om emballagen*/
#bbb h1 {
  padding: 5% 10% 0 10%;
}

#bbb p {
  padding: 5% 15% 10% 25%;
}
/*Infographic tilrettes*/
#infographic h2{
  text-align: center;
  padding-top: 10%;
  font-family: var(--tekst);
  font-weight: 400;
}

#infographic img {
  width:70%;
  padding: 5% 10% 0 10%;
}




/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  #navigation {
    height: 25vh;
  }
  /* navbar burgermenu ved lille skærm */
    .burgermenu{
      position: absolute;
      font-size: 2em;
      top: 1.5rem;
      right: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .dropdown{
      display: none;
    }

/*Landingpage - header*/
.nav__top {
  display:block;
}

.nav__top_com {
  display:none;
}

/*Kampagnefoto*/
.kampagne {
  display: block;
}
.kampagne_web {
  display:none;
}
.kampagne_web img{
  width:40%;
}

/*Emballagetekst*/
#emballage {
  height: 80vh;
padding-bottom: 30%;
}

#emballage h1 {
  font-size: 2em;
}
  #emballage p {
    font-size: 1.2em;
    margin: 5% 10% 0 10%;
  }
#emballage .mereinfo {
  font-size: 1.5em;
}

/*landingpage footer*/
.footfoto {
  margin-top: -145%;
  height: 120vh;
}
#footerinfo h2{
  font-size: 1.2em;
  margin-top: 370%;
}
#footerinfo p{
  font-size: 0.8em;
}

/*Nyhedsbrev - https://www.w3schools.com/howto/howto_css_newsletter.asp*/

/* Add some padding and a grey background color to containers */
.container {
  padding: 10px;
  background-color: transparent;
  color: black;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 94%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
  margin-left: 10%;
}

/* Style the submit button */
input[type=submit] {
  font-size: 0.8em;
}


    /*Bananbrød media rules*/


    /*Flexwrap til intro*/
    .bananintro {
      flex-wrap: wrap-reverse;
    }

 /*Tilpas ingrediensbox*/
    #ingrediensbox {
      background-color: var(--beige);
      width: 70%;
      margin:10%;

    }

    .ingrediensværdi {
      flex: 25%;
      padding-left: 5%;
      margin: 5px;
    }

    .ingrediensenhed {
      flex:75%;
    }

  /*Om os media rules*/

#om_os {
  margin-top: -120%;
}
  /*Flexwrap til intro*/
  .om_amo {
    flex-wrap: wrap;
  }
.omtekst p, .omtekst2 p {
  font-size: 1em;
  padding: 0 5% 0 5%;
}

  .omfoto img{
    width:40%;
    margin-left: 15%;
  }
/*Infographic no show*/
#infographic {
  display:none;
}

}

  /* Small devices (portrait tablets and large phones, 769px and up) */
@media only screen and (min-width: 769px) {

  /* navbar burgermenu */

    .burgermenu{
      display:none;
    }


    /*Landingpage - header*/
    .nav__top {
      display:none;
    }

    .nav__top_com {
      display:block;
      margin-top: 65%;
      width: 100%;
      height: 120vh;
    }
    /*Kampagnefoto*/
.kampagne {
  display: none;
}

    .kampagne_web {
      display:block;
      margin-top: 25%;
    }

  .kampagne_web img {
    width:100%;
  }
  /*Emballagetekst*/
  #emballage {
    height: 80vh;
  padding-bottom: 45%;
  }

  #emballage h1 {
    font-size: 3em;
  }
    #emballage p {
      font-size: 1.9em;
      margin: 5% 10% 0 10%;
    }
  #emballage .mereinfo {
    font-size: 1.5em;
  }

  /*Landingpage footer*/
  .footfoto {
    margin-top: -55%;
  }

  #footerinfo {
    padding:20px;
  }
  #footerinfo h2{
    font-size: 1.6em;
    margin-top: 160%;
  }
  #footerinfo p{
    font-size: 1.1em;
  }
  /*Underside - bananbrød*/

  .bananoverskrift h1 {
    padding-bottom: 8%;
    margin-top: -1450px;
    font-size: 2.8em;
  }

  /*Baggrundstekstur udvides*/
  .baggrundbanan img {
    height: 1300px;
  }

/*Flexbox*/
  .bananintro {
    flex-wrap: nowrap;
  }
/*Tekst tilpasses*/

  .introtekst {
    flex:30%;
    margin: 20px;
    padding-left: 10%;
    font-size: 1.3em;
  }
  #ingrediensbox ol{
    line-height: 2.5;
    padding: 5% 20% 5% 20%;
  }

  /*Underside Om amo*/

  /*Underside om Amo*/
  #om_os {
    margin-top: -40%;
  }
  /*Flexbox*/
    .om_amo {
      flex-wrap: nowrap;
    }
  /*Tekst tilpasses*/

    .omtekst {
      flex:70%;
      margin: 20px;
      padding-left: 10%;
      font-size: 0.9em;
    }
    .omtekst2 p {
      font-size: 1.1em;
      padding: 0 15% 0 15%;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* navbar burgermenu */
    .burgermenu{
      display:none;
    }

    /*Landingpage - header*/
    .nav__top {
      display:none;
    }

    .nav__top_com {
      display: block;
      margin-top: 35%;
      width: 100%;
    }

    .kampagne_web {
      display:block;
      margin-top: 10%;
    }

    /*Emballagetekst*/
#emballage {
padding-bottom: 35%;
}

    #emballage h1 {
      font-size: 4em;
    }
      #emballage p {
        font-size: 1.8em;
        margin: 5% 15% 0 15%;
      }
    #emballage .mereinfo {
      font-size: 1.5em;
    }
    /*Landingpage footer*/
    .footfoto {
    margin-top: -35%;
    }
    #footerinfo {
      padding:20px;
    }
    #footerinfo h2{
      font-size: 2em;
      margin-top: 100%;
    }
    #footerinfo p{
      font-size: 1.5em;
    }
/*Underside bananbrød*/

/*Baggrundstekstur udvides*/
.baggrundbanan img {
  height: 1400px;
  padding-top: 10%;
}

/*Tekst tilpasses*/
.bananoverskrift h1 {
  margin-top: -1400px;
  padding-bottom: 10%;
  font-size: 3.8em;
}
#ingrediensbox {
  margin:15%;
}

#ingrediensbox ol{
  line-height: 2.5;
  padding: 5% 20% 5% 20%;
}


/* introflexbox */
.bananintro{
  width:90%;
  flex-wrap: nowrap;
  margin: 5%;
}

.introtekst {
  flex:40%;
  margin: 20px;
  padding-left: 5%;
  font-size: 1.5em;
}

.introfoto {
  flex:60%;
}
.introfoto img {
  width: 80%;
}


/*Underside om Amo*/

#om_os {
  margin-top: -30%;
}
/*Tekst tilpasses*/
#om_os h1, #bbb h1 {
  padding: 10% 0 0 0;
  font-size: 5em;
}
/* introflexbox */
.om_amo{
  width:80%;
  flex-wrap: nowrap;
  margin: 5%;
}

.omtekst {
  flex:60%;
  margin: 20px;
  padding-left: 10%;
  font-size: 1.2em;
}
.omtekst2 p {
  font-size: 1.3em;
  padding: 0 15% 0 15%;
}

.omfoto {
  flex:40%;
}
.omfoto img {
  width: 100%;
  opacity: 100%;
}

#bbb p {
  padding: 5% 15% 10% 15%;
}
  }
